.player {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between center;
}
.time-control {
  width: 50%;
  display: flex;

  input {
    width: 100%;
    padding: 1rem 0rem;
  }

  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 70%;
  }
  .play-control {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 65%;
  }
}
